{cover_enabled, true}.
{cover_print_enabled, true}.
{port_specs, [{"darwin|linux", "priv/cutkey_drv.so", ["c_src/*.c"]}]}.
{port_env, [
  {"darwin", "CFLAGS", "$CFLAGS -I/usr/local/opt/openssl/include"},
  {"darwin", "LDFLAGS", "$LDFLAGS -L/usr/local/opt/openssl/lib"},
  %% for Centos 6.x OpenSSL
  {"linux", "CFLAGS", "$CFLAGS -DOPENSSL_NO_EC=1 -DOPENSSL_NO_ECDH=1 -DOPENSSL_NO_ECDSA=1"},
  {"LDFLAGS", "$LDFLAGS -lcrypto"}
]}.
{erl_opts, [warnings_as_errors]}.
